@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #141414;
	color: #FFFFFF;
}

html{
	font-size: 62.5%;
	background-color: #141414;
}

body{
	margin: 20px !important;
	font-family: 'PT Sans', sans-serif !important;
}


a{
	text-decoration: none !important;


}

li{
	list-style: none;
}


input{
	/* border: none !important; */
	outline: none !important;
}


/* main */

nav{
	font-size: 1.4rem;
}

.main-head .logo{
	width: 20%;
}

.navigation {

}

.browse {
	display: flex;
	width: 800px;
}

.search {
	display: flex;
	width: auto;
}

.cart{
	text-align: end;
	width: 250px;
}

.search-box{
	background-color: #000000;
	opacity: 0.6;
	border-radius: 24px;
	width: auto;
	margin-left: 5px;
}

.search-box svg {
	background-color: #000000;
	opacity: 0.6;
}



.search-box input{
	height: 15px;
	outline: none;
	offset: none;
	border: none;
	background-color: #000000;
	margin-left: 10px;
}

.discover-active{
	background-color: #0080F6;
	border-radius: 12px;
	margin-right: 10px;
}



.search-active {
	background-color: #0080F6;
	border-radius: 12px;
	margin-right: 10px;
}


/* navigator-menu */
.navigator-menu{
	margin-top: 2.5rem !important;

}

.fixed-menu {
	position: fixed;
}

.navigator-menu li{
	font-size: 1.4rem;
	margin: 20px 20px 0px 0px;
	padding-top: 0.5rem;
	padding-left: ;
}

.navigator-menu li img{
	padding: .4rem 0.4rem .8rem 2rem;
}

.navigator-menu .active-selection,
.navigator-menu .active-selection-store{
	background-color: #2F2F2F;
	opacity: 1;
	border-radius: 12px;
}

.bottom-list {
	margin-top: 8rem;
}

/* cover page */
.cover-book{
	position: relative;
	margin-top: 20px;
	height: 70vh;
	background-image: url('images/cover.jpg');
	background-size: cover;
	background-color: transparent;
	border-radius: 5px;
}

.cover-book::after{
	content: "E-Book Junction";
	font-size: 2rem;
	position: absolute;
	top: 20px;
	left: 20px;
}

.cover-book .search-books{
	position: absolute;
	border: none;
	outline: none;
	background-color: #0080F6 ;
	padding: 8px;
	border-radius: 10px;
	bottom: 30px;
	left: 20px;
	font-size: 1.4rem;
}

.cover-book p {
	position: absolute;
	background-color: transparent;
	font-size: 1.6rem;
	bottom: 80px;
	left: 20px;
}

.right-cover{
	margin-top: 20px;

}

.mini-cover{
	background-color: #2F2F2F;
	padding: 10px 10px;
	/* border-radius: 12px 12px 0 0px; */
}

.mini-cover img{
	width: 60px;
	height: 68px;
}

.mini-cover span {
	font-size: 1.4rem;
	background-color: transparent;
}



/* book slider */
.book-slider,
.book-slider-2{
	width: 100%;
	margin-top: 5rem;
}

.book-slider .book-item,
.book-slider-2 .book-item {
	width: 25%;
}


.book-slider .book-item img,
.book-slider-2 .book-item img  {
	height: 400px;
	width: 100%;
	outline: none;
	border: none;
}

.book-slider .book-item p,
.book-slider-2 .book-item p{
	font-size: 1.4rem;
	padding-left: 0.4rem;
}

.slider button  {
	background-color: transparent;
	color: #fff;
}

.book-slider .book-item p strike,
.book-slider-2 .book-item p strike{
	color: #fff;
	opacity: 0.4;
}

/* library styling */

/* search box */

.main-search{
	background-color: #000000;
	opacity: 0.6;
	border-radius: 24px;
	width: 600px;
	margin: auto;
	/* margin-left: 5px; */
	outline: none;
	offset: none;
	border: none;
	height: 4rem;
	padding: 0px 10px 0px 10px;
	margin-top: 3rem;
	font-size: 1.4rem;
}


.main-search::placeholder,
.main-search::-webkit-input-placeholder{
	color: #ffffff;
	opacity: 1;
	font-size: 1.4rem;
}

.main-search-box{
	width: 100%;
	text-align: center;
}

.main-search-box button{
	outline: none;
	border: none;
}

.book-items img{
	height: 250px;
}

.book-items p{
	font-size: 1.4rem;
}


.card{
	background-color: transparent !important;
}


/* checkout styling */
.search .cart-checkout svg {
	background-color: #0080F6;
	border-radius: 12px;
	padding: 1px;
	width: 25px;
	height: 15px;

}

.current-cart{
	position: relative;
}

.current-cart img {
	width: 175px;
	height: 175px;
}

.current-cart p {
	font-size: 2rem;
	padding-left: 1rem;
}

.current-cart .cart-price{
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 2rem;
}

.cart-price span{
	background-color: #C89D7C;
	opacity: 0.8;
	border-radius: 8px;
}

.checkout-row{
	height: 50vh;
	position: relative;
}

.checkout {
	background-color: #2ecc71;
	border: none;
	outline: none;
	font-size: 1.4rem;
	width: 80px;
	height: 30px;
	border-radius: 24px;
	position: absolute;
	bottom: 0;
	right: 0;
}



/* chat */
.chat-box{
	position: absolute;
}

.chat-2{
	position: relative;
	top: 80px;
}

.chat img,.chat-2 img{
	width: 40px;
	border-radius: 50%;
}

.chat p,.chat-2 p{
	font-size: 1.4rem;
}

.chat .online,.chat-2 .online{
	position: relative;
	width: 10px;
	height: 10px;
}

.chat::after,.chat-2::after{
	content: "";  
	position: absolute;
	background: url('images/green.png');
	bottom:  5px;
	left: 40px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	z-index: 100;
}


/* message */

.message {
	height: 80vh;
	display: flex;
	align-items: end;
}

.message input,.message svg path,.message svg{
	background-color: transparent;
	border: none;
	outline: none;
	offset: none;

}

.message svg {
	fill:  #00008B;
	opacity: 0.8;
	margin: 0;
	vertical-align: unset;
}

.message svg path{
	padding-top: 1px;
}

.message input::placeholder,
.message input:focus,
.message input:enabled{
	font-size: 1.6rem;
	color: black;

}

.message input{
	width: 97%;
	height: 30px;

}



.messaging-box{
	background-color: #d3d3d3;
	opacity: 0.6;
	width: 80%;
	border-radius: 12px;
}

/* profile */
.profile-img img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}


.profile-info {
	font-size: 1.2rem;
}

.profile-info input{
	border: 1px solid white;
	padding-left: 5px;
	font-size: 1.2rem;
}

.address{
	font-size: 1.4rem;
}

textarea, textarea:focus{
	resize: none !important;
	font-size: 1.2rem;
	border: 1px solid white;
}


.phone {
	font-size: 1.4rem;
}

.phone input{
	width: 30%;
	border-radius: 0px;
	border: 1px solid white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.save {
	height: 20vh;
	display: flex;
	align-items: end;
}

.save button{
	background-color: #39FF14;
	border: none;
	outline: none;
	padding: 6px;
	font-size: 1.4rem;
	border-radius: 12px;
}


/* seller */

/* upload */
.upload{
	width: 50% !important;
	margin: auto;
}

.upload input{
	background-color: grey;

}

.upload a{
}

.upload button{
	border: none;
	border: 1px solid white;
	margin: ;
	padding: 0px 10px 0px 10px;
	height: 100%;
}

/* edit */
.edit .edit-img img{
	width: 200px;
	height: 200px;
}

.edit .edit-img-upload input{
	border: 1px solid white;
	padding: 10px;
	margin: 70px 0 10px 50px;
	font-size: 1.4rem;
}

.edit-description input::placeholder,
.edit-description input:focus,
.edit-description input
{
	font-size: 1.4rem;
	padding-left: 2px;
	outline: none;
	offset: none;
	border-color: white !important;
	width: 40%;
}


.edit-price input::placeholder,
.edit-price input:focus,
.edit-price input{
	font-size: 1.4rem;
	padding-left: 2px;
	outline: none;
	offset: none;
	border-color: white !important;
	width: 40%;
}


.edit-save button{
	background-color: #39FF14;
	border: none;
	outline: none;
	padding: 0px 10px 0px 10px;
	font-size: 1.4rem;
	border-radius: 12px;
}


/* payment */

.payment p{
	font-size: 1.4rem;
}

.payment-method img,
.payment-method-2 img{
	width: 15%;
}


/* home */
.login{ height: 10vh;
	/* height: 60vh; */
}


.login button,
.seller-btn{
	background-color: #0080F6;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 24px;
	width: 10%;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.4rem;
	height: 50px;
}

.seller-login p {
	font-size: 1.4rem;
	padding-top: 10px;
}

.login-search{
	height: 30vh;
}


.login-search input{
	width: 80%;
	border: none;
	outline: none;
	background-color: #d3d3d3;
	opacity: 0.4;
	height: 30px;
	border-radius: 12px;
	font-size: 1.4rem;
}

.login-search input::placeholder,
.login-search input:focus{
	font-size: 1.4rem;
	color: #000;
}


















